{% extends "main.html" %}
{# import "ga.macro" as ga #}

{% block content %}
<section class="page status">
  <h1>Состояние</h1>
  {% for media in medialist %}
  {% if media.group != group %}
  {% if group %}</ul>{% endif %}
  <h2>{{ media.group }}</h2>
  <ul>
  {% endif %}
    <li>
      <a href="{{ media.link }}">
        <img src="{{ url_for('static', filename='img/media/%s.png' % media.parser) }}" />
        {{ media.name }}
        <span class="status{% if media.status != "200" %} error{% endif %}" title="Последнее обновление">{{ media.last_update|timedelta }} назад</span>
      </a>
    </li>
  {% set group = media.group %}
  {% endfor %}
  </ul>
</section>
{# ga.script()|safe #}
{% endblock %}
