{% extends "main.html" %}
{# import "ga.macro" as ga #}

{% block content %}
<form class="search" action="." method="get">
  <button type="submit" title="Найти"></button><input id="search" name="search" type="search" value="{{ search }}" placeholder="Поиск по ленте" />
</form>
<section class="page timeline">
  {% for news in news %}
  <article id="{{ news.id }}">
    <a href="{{ news.link }}" class="{{ news.tags|join(" ") }}" target="_blank" title="{{ news.link|host }}">
      <span>{{ news.created_at|time }}</span>
      <img src="{{ url_for('static', filename='img/media/%s.png' % news.media) }}" />
      {{ news.text }}
    </a>
  </article>
  {% endfor %}
</section>
<div id="loader"><div class="loader"></div></div>
{# ga.script()|safe #}
<script type="text/javascript">
  var pageImagesUrl = "{{ url_for('static', filename='img/') }}",
      pageNumber = 1,
      pageStamp = {{ stamp|int }},
      updateStamp = {{ stamp|int }};
</script>
{% endblock %}
